<div class="row m-b-xl">
    <div class="col border border-left-0 border-right-0 border-top-0">
        <h2>
            Gestion des repas

        </h2>
    </div>
</div>
<br>
<div class="row p-xl">
    <div class="col-2">
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <ngb-datepicker style="width: 100%" [(ngModel)]="selectedDate" (ngModelChange)="onDateChange($event)"  #d="ngbDatepicker"></ngb-datepicker>
            </div>
        </div>

        <hr>
        <div class="row">

            <div class="col">
                <button (click)="saveMeal()" type="button" class="btn btn-block btn-outline-success">Valider</button>
            </div>
        </div>

    </div>


    <div class="col-3 border border-bottom-0 border-right-0 border-top-0">
        <form action="">
            <div class="form-group row">
                <label for="input-nb-personnes" class="col-8 col-form-label">Nombre personnes</label>
                <div class="col-4">
                    <input class="form-control" name="b" type="number" min="0" [(ngModel)]="meal.nbPresent" id="input-nb-personnes">
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <label for="input-waste-entree" class="col-8 col-form-label">Plastique</label>
                <div class="col-4">
                    <input class="form-control" name="a" type="number" min="0" [(ngModel)]="meal.wasteMetric.plastic" id="input-waste-entree">
                </div>
            </div>
            <div class="form-group row">
                <label for="input-waste-principal" class="col-8 col-form-label">Vert</label>
                <div class="col-4">
                    <input class="form-control" name="c" type="number" min="0" [(ngModel)]="meal.wasteMetric.green" id="input-waste-principal">
                </div>
            </div>
            <div class="form-group row">
                <label for="input-waste-dessert" class="col-8 col-form-label">Autre</label>
                <div class="col-4">
                    <input class="form-control" name="d"type="number" min="0" [(ngModel)]="meal.wasteMetric.other" id="input-waste-dessert">
                </div>
            </div>
        </form>
    </div>
    <div class="col-6 border border-bottom-0 border-right-0 border-top-0">
        <cs-menu-edit (onSaveMenu)="onSaveMenu($event)" [menuInput]="meal.menu"></cs-menu-edit>
    </div>

</div>
