<div>
    <h2>
        <span>Dishes</span>
        <button class="btn btn-primary float-right jh-create-entity create-dish-cs" [routerLink]="['/', { outlets: { popup: ['dish-cs-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Dish
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dishes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Type</span></th>
            <th><span>Food Categories</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dish of dishes ;trackBy: trackId">
                <td><a [routerLink]="['../dish-cs', dish.id ]">{{dish.id}}</a></td>
                <td>{{dish.name}}</td>
                <td>{{dish.type}}</td>
                <td>
                    <span *ngFor="let foodCategories of dish.foodCategories; let last = last">
                            <a class="form-control-static" [routerLink]="['../food-category-cs', foodCategories?.id ]">{{foodCategories.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dish-cs', dish.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dish-cs/'+ dish.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dish-cs/'+ dish.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
