
<div *ngIf="dishServe">
    <h2><span>Dish Serve</span> {{dishServe.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Nb Present</span></dt>
        <dd>
            <span>{{dishServe.nbPresent}}</span>
        </dd>
        <dt><span>Menu</span></dt>
        <dd>
            <div *ngIf="dishServe.menu">
                <a [routerLink]="['/menu-cs', dishServe.menu?.id]">{{dishServe.menu?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'dish-serve-cs/'+ dishServe.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
