
<div class="row">
    <div class="col-6">
        <form (ngSubmit)="onSubmit()" #menuForm="ngForm">
            <div class="form-group">
                <label for="principal">Entrée</label>
                <div class="input-group">
                    <select class="form-control" name="entreeSelect"
                            id="entree"
                            [(ngModel)]="selectedEntree"
                            (ngModelChange)="test($event)">
                        <option *ngFor="let entree of entrees;" [value]="entree.id">{{entree.name}}</option>
                    </select>
                    <div class="input-group-append">
                        <div class="input-group-text" id="btnGroupAddon">
                            <button type="button" (click)="showForm('entree')" class="btn btn-round btn-outline-success float-right">  <i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="principal">Plat</label>
                <div class="input-group">
                    <select class="form-control" name="principalSelect"
                            id="principal"
                            [(ngModel)]="selectedPrincipal"
                            (ngModelChange)="test($event)">
                        <option *ngFor="let principal of principals" [value]="principal.id">{{principal.name}}</option>
                    </select>
                    <div class="input-group-append">
                        <div class="input-group-text" id="btnGroupAddon2">
                            <button type="button" (click)="showForm('principal')" class="btn btn-round btn-outline-success float-right">  <i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="principal">Dessert</label>
                <div class="input-group">
                    <select class="form-control" name="dessertSelect"
                            id="dessert"
                            [(ngModel)]="selectedDessert"
                            (ngModelChange)="test($event)">
                        <option *ngFor="let dessert of desserts" [value]="dessert.id">{{dessert.name}}</option>
                    </select>
                    <div class="input-group-append">
                        <div class="input-group-text" id="btnGroupAddon3">
                            <button type="button" (click)="showForm('dessert')" class="btn btn-round btn-outline-success float-right">  <i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="principal">Autre</label>
                <div class="input-group">
                    <select class="form-control" name="dessertOther"
                            id="others"
                            [(ngModel)]="selectedOther"
                            (ngModelChange)="test($event)">
                        <option *ngFor="let other of others" [value]="other.id">{{other.name}}</option>
                    </select>
                    <div class="input-group-append">
                        <div class="input-group-text" id="btnGroupAddon4">
                            <button type="button" (click)="showForm('other')" class="btn btn-round btn-outline-success float-right">  <i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-6" *ngIf="showDishForm">
        <form (ngSubmit)="onSubmitDishForm()" #dishForm="ngForm">
            <div class="form-group">
                <label class="form-control-label" for="field_name">Name</label>
                <input type="text" class="form-control" name="name" id="field_name"
                       [(ngModel)]="dish.name"  />
            </div>

            <div class="form-group">
                <label for="field_foodCategories">Catégorie du plat</label>
                <angular2-multiselect name="foodCategory" id="field_foodCategories" [data]="foodcategories" [(ngModel)]="dish.foodCategories" [settings]="dropdownSettings" >
                    <c-item>
                        <ng-template let-item="item">
                            <label>{{item.itemName}}</label>
                        </ng-template>
                    </c-item>
                </angular2-multiselect>
            </div>
            <button type="submit" class="btn btn-success">Ajouter</button>
        </form>
    </div>
</div>
