<div class="row">
    <div class="col">
        <h2>Menu creation</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <form (ngSubmit)="onSubmit()" #menuForm="ngForm">
            <div class="form-group">
                <label for="entree">Entrée</label>
                <select name="entreeSelect"
                        id="entree"
                        [(ngModel)]="selectedEntree">
                    <option *ngFor="let entree of entrees" [value]="entree">{{entree.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="principal">Plat principal</label>
                <select name="principalSelect"
                        id="principal"
                        [(ngModel)]="selectedPrincipal">
                    <option *ngFor="let principal of principals" [value]="principal">{{principal.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dessert">Dessert</label>
                <select name="dessertSelect"
                        id="dessert"
                        [(ngModel)]="selectedDessert">
                    <option *ngFor="let dessert of desserts" [value]="dessert">{{dessert.name}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
