<div class="col-8">
    <label>
        <input name="quantity" type="radio" 
        (change)="onSelectionChange(1)"> Rien du tout
    </label>
    <label>
        <input name="quantity" type="radio" 
        (change)="onSelectionChange(2)"> Pas trop
    </label>
    <label>
        <input name="quantity" type="radio" 
        (change)="onSelectionChange(3)"> La moitié
    </label>
    <label>
        <input name="quantity" type="radio" 
        (change)="onSelectionChange(4)"> Presque tout
    </label>
    <label>
        <input name="quantity" type="radio" 
        (change)="onSelectionChange(5)"> Tout
    </label>
</div>