<div>
    <h2>
        <span>Meals</span>
        <button class="btn btn-primary float-right jh-create-entity create-meal-cs" [routerLink]="['/', { outlets: { popup: ['meal-cs-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Meal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="meals">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Nb Present</span></th>
            <th><span>Menu</span></th>
            <th><span>Waste Metric</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let meal of meals ;trackBy: trackId">
                <td><a [routerLink]="['../meal-cs', meal.id ]">{{meal.id}}</a></td>
                <td>{{meal.date | date:'mediumDate'}}</td>
                <td>{{meal.nbPresent}}</td>
                <td>
                    <div *ngIf="meal.menu">
                        <a [routerLink]="['../menu-cs', meal.menu?.id ]" >{{meal.menu?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="meal.wasteMetric">
                        <a [routerLink]="['../waste-metric-cs', meal.wasteMetric?.id ]" >{{meal.wasteMetric?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../meal-cs', meal.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meal-cs/'+ meal.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'meal-cs/'+ meal.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
