
<div *ngIf="meal">
    <h2><span>Meal</span> {{meal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{meal.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Nb Present</span></dt>
        <dd>
            <span>{{meal.nbPresent}}</span>
        </dd>
        <dt><span>Menu</span></dt>
        <dd>
            <div *ngIf="meal.menu">
                <a [routerLink]="['/menu-cs', meal.menu?.id]">{{meal.menu?.id}}</a>
            </div>
        </dd>
        <dt><span>Waste Metric</span></dt>
        <dd>
            <div *ngIf="meal.wasteMetric">
                <a [routerLink]="['/waste-metric-cs', meal.wasteMetric?.id]">{{meal.wasteMetric?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'meal-cs/'+ meal.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
